.container {
    max-width: 400px;
}

.btn {
    font-size: 1.2rem;
    padding: 0.75rem 1rem;
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}

.nav-link-item {
    color: lightgray;
    text-decoration: none;
}

.nav-link-item.active {
    color: darkred;
    text-decoration: none;
    background-color: lightgreen;
}

.fab-container {
    position: fixed;
    bottom: 4rem;
    right: 1rem;
}

.fab-button {
    border-radius: 50%;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.5);
}
